<div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item d-block d-md-none">
            <a class="logo-font font-weight-bold nav-link text-white mr-5" href="{% url 'home' %}" id="home-link">
                Home
            </a>
        </li>

        <li class="nav-item dropdown">
            <button class="btn dropdown-toggle text-white" type="button" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Products
            </button>
            <div class="dropdown-menu border-0 bg-dark" aria-labelledby="all-products-link">
                <a class="dropdown-item text-white" href="#">By Price</a>
                <a class="dropdown-item text-white" href="#">By Rating</a>
                <a class="dropdown-item text-white" href="#">By Category</a>
                <a class="dropdown-item text-white" href="#">All Products</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <button class="btn dropdown-toggle text-white" type="button" id="hair-care-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Hair Care Products
            </button>
            <div class="dropdown-menu border-0 bg-dark" aria-labelledby="hair-care-products-link">
                <a class="dropdown-item text-white" href="#">Hair Shampoo</a>
                <a class="dropdown-item text-white" href="#">Hair Conditioner</a>
                <a class="dropdown-item text-white" href="#">Hair Oils & Cream</a>
                <a class="dropdown-item text-white" href="#">All Hair Care Products</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <button class="btn dropdown-toggle text-white" type="button" id="deals-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Deals
            </button>
            <div class="dropdown-menu border-0 bg-dark" aria-labelledby="deals-link">
                <a class="dropdown-item text-white" href="#">Under €10</a>
                <a class="dropdown-item text-white" href="#">Under €20</a>
                <a class="dropdown-item text-white" href="#">Under €30</a>
                <a class="dropdown-item text-white" href="#">All deals</a>
            </div>
        </li>
    </ul>
</div>








