{% extends "base.html" %}
{% load static %}

{% block content %}

    <hr>
    {% if user.is_authenticated %}
        <h2 class="heading text-center"><em>Delete a product</em></h2>
        <form class="button-space text-center" method="POST">
            {% csrf_token %}
            <p class="heading para-size">Are you sure you want to delete this item "{{product.item.name}}"?</p>
            <button class="btn btn-danger" type="submit">Delete Product</button>
            <a href="{% url 'get_shopping_list' %}"><button class="btn btn-primary button-space">Go Back</button></a>
        </form>

    {% else %} <!-- If user is not authenticated -->
    <div class="container"> 
        <div class="row"> 
            <p class="heading text-center para-size">
                Sorry! You are not authorised to delete this product. 
            </p>
        </div> 
    </div>
        
    {% endif %} <!-- authentication end if -->
        
{% endblock %}