{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="row">  <!-- row class div starts -->
    <!-- PRODUCT 1 UNDER HAIR WIG CONDITIONER -->
    <div class="col-lg-4">
        <img class="thumbnail" src="/media/human_hair_wig_conditioner/cantu_shea_butter_leave_in_conditioner_16oz.png">
        <!--NOTE: The 2 classes of box element & product are not 
        bootstrap classes but my own self made classes so we'll 
        style them in our custom base.css file later. -->
        <div class="box-element product">
            <h6><strong>Product</strong></h6>
            <hr>
            <!-- We added our own custom class called add-btn which we'll style in base.css -->
            <button class="btn btn-outline-secondary add-btn">Add to Cart</button>
        </div>
    </div>
    <!-- PRODUCT 2 UNDER HAIR WIG CONDITIONER -->
    <div class="col-lg-2">
        <img class="thumbnail" src="/media/human_hair_wig_conditioner/eternal_beauty_wig_control_conditioner_250ml.png">
        <div class="box-element product">
            <h6><strong>Product</strong></h6>
            <hr>
        </div>
    </div>
    <!-- PRODUCT 3 UNDER HAIR WIG CONDITIONER -->
    <div class="col-lg-2">
        <img class="thumbnail" src="/media/human_hair_wig_conditioner/ogx_biotin_n_collagen_hair_conditioner_385ml.png">
        <div class="box-element product">
            <h6><strong>Product</strong></h6>
            <hr>
        </div>
    </div>
    <!-- PRODUCT 4 UNDER HAIR WIG CONDITIONER -->
    <div class="col-lg-2">
        <img class="thumbnail" src="/media/human_hair_wig_conditioner/olaplex_bond_maintenance_conditioner_250ml.png">
        <div class="box-element product">
            <h6><strong>Product</strong></h6>
            <hr>
        </div>
    </div>
    <!-- PRODUCT 5 UNDER HAIR WIG CONDITIONER -->
    <div class="col-lg-2">
        <img class="thumbnail" src="/media/human_hair_wig_conditioner/palmers_olive_oil_leave_in_conditioner_250ml.png">
        <div class="box-element product">
            <h6><strong>Product</strong></h6>
            <hr>
        </div>
    </div>
    <!-- PRODUCT 6 UNDER HAIR WIG CONDITIONER -->
    <div class="col-lg-2">
        <img class="thumbnail" src="/media/human_hair_wig_conditioner/       .png">
        <div class="box-element product">
            <h6><strong>Product</strong></h6>
            <hr>
        </div>
    </div>

    <!-- PRODUCT 1 UNDER HAIR WIG OILS -->
    <div class="col-lg-2">
        <img class="thumbnail" src="/media/human_hair_wig_conditioner/eternal_beauty_wig_control_conditioner_250ml.png">
        <div class="box-element product">
            <h6><strong>Product</strong></h6>
            <hr>
        </div>
    </div>
    <!-- PRODUCT 2 UNDER HAIR WIG OILS -->
    <div class="col-lg-2">
        <img class="thumbnail" src="/media/human_hair_wig_conditioner/eternal_beauty_wig_control_conditioner_250ml.png">
        <div class="box-element product">
            <h6><strong>Product</strong></h6>
            <hr>
        </div>
    </div>
    <!-- PRODUCT 3 UNDER HAIR WIG OILS -->
    <div class="col-lg-2">
        <img class="thumbnail" src="/media/human_hair_wig_conditioner/eternal_beauty_wig_control_conditioner_250ml.png">
        <div class="box-element product">
            <h6><strong>Product</strong></h6>
            <hr>
        </div>
    </div>
    <!-- PRODUCT 4 UNDER HAIR WIG OILS -->
    <div class="col-lg-2">
        <img class="thumbnail" src="/media/human_hair_wig_conditioner/eternal_beauty_wig_control_conditioner_250ml.png">
        <div class="box-element product">
            <h6><strong>Product</strong></h6>
            <hr>
        </div>
    </div>
    <!-- PRODUCT 5 UNDER HAIR WIG OILS -->
    <div class="col-lg-2">
        <img class="thumbnail" src="/media/human_hair_wig_conditioner/eternal_beauty_wig_control_conditioner_250ml.png">
        <div class="box-element product">
            <h6><strong>Product</strong></h6>
            <hr>
        </div>
    </div>
    <!-- PRODUCT 6 UNDER HAIR WIG OILS -->
    <div class="col-lg-2">
        <img class="thumbnail" src="/media/human_hair_wig_conditioner/eternal_beauty_wig_control_conditioner_250ml.png">
        <div class="box-element product">
            <h6><strong>Product</strong></h6>
            <hr>
        </div>
    </div>

    <!-- PRODUCT 1 UNDER HAIR WIG SHAMPOO -->
    <div class="col-lg-4">
        <img class="thumbnail" src="/media/human_hair_wig_conditioner/eternal_beauty_wig_control_conditioner_250ml.png">
        <div class="box-element product">
            <h6><strong>Product</strong></h6>
            <hr>
        </div>
    </div>
    <!-- PRODUCT 2 UNDER HAIR WIG SHAMPOO -->
    <div class="col-lg-2">
        <img class="thumbnail" src="/media/human_hair_wig_conditioner/eternal_beauty_wig_control_conditioner_250ml.png">
        <div class="box-element product">
            <h6><strong>Product</strong></h6>
            <hr>
        </div>
    </div>
    <!-- PRODUCT 3 UNDER HAIR WIG SHAMPOO -->
    <div class="col-lg-2">
        <img class="thumbnail" src="/media/human_hair_wig_conditioner/eternal_beauty_wig_control_conditioner_250ml.png">
        <div class="box-element product">
            <h6><strong>Product</strong></h6>
            <hr>
        </div>
    </div>
    <!-- PRODUCT 4 UNDER HAIR WIG SHAMPOO -->
    <div class="col-lg-4">
        <img class="thumbnail" src="/media/human_hair_wig_conditioner/eternal_beauty_wig_control_conditioner_250ml.png">
        <div class="box-element product">
            <h6><strong>Product</strong></h6>
            <hr>
        </div>
    </div>
    <!-- PRODUCT 5 UNDER HAIR WIG SHAMPOO -->
    <div class="col-lg-4">
        <img class="thumbnail" src="/media/human_hair_wig_conditioner/eternal_beauty_wig_control_conditioner_250ml.png">
        <div class="box-element product">
            <h6><strong>Product</strong></h6>
            <hr>
        </div>
    </div>
    <!-- PRODUCT 6 UNDER HAIR WIG SHAMPOO -->
    <div class="col-lg-4">
        <img class="thumbnail" src="/media/human_hair_wig_conditioner/eternal_beauty_wig_control_conditioner_250ml.png">
        <div class="box-element product">
            <h6><strong>Product</strong></h6>
            <hr>
        </div>
    </div>

    <!-- PRODUCT 1 UNDER HAIR WIGS -->
    <div class="col-lg-4">
        <img class="thumbnail" src="/media/human_hair_wig_conditioner/eternal_beauty_wig_control_conditioner_250ml.png">
        <div class="box-element product">
            <h6><strong>Product</strong></h6>
            <hr>
        </div>
    </div>
    <!-- PRODUCT 2 UNDER HAIR WIGS -->
    <div class="col-lg-4">
        <img class="thumbnail" src="/media/human_hair_wig_conditioner/eternal_beauty_wig_control_conditioner_250ml.png">
        <div class="box-element product">
            <h6><strong>Product</strong></h6>
            <hr>
        </div>
    </div>
    <!-- PRODUCT 3 UNDER HAIR WIGS -->
    <div class="col-lg-4">
        <img class="thumbnail" src="/media/human_hair_wig_conditioner/eternal_beauty_wig_control_conditioner_250ml.png">
        <div class="box-element product">
            <h6><strong>Product</strong></h6>
            <hr>
        </div>
    </div>
    <!-- PRODUCT 4 UNDER HAIR WIGS -->
    <div class="col-lg-4">
        <img class="thumbnail" src="/media/human_hair_wig_conditioner/eternal_beauty_wig_control_conditioner_250ml.png">
        <div class="box-element product">
            <h6><strong>Product</strong></h6>
            <hr>
        </div>
    </div>
    <!-- PRODUCT 3 UNDER HAIR WIGS -->
    <div class="col-lg-4">
        <img class="thumbnail" src="/media/human_hair_wig_conditioner/eternal_beauty_wig_control_conditioner_250ml.png">
        <div class="box-element product">
            <h6><strong>Product</strong></h6>
            <hr>
        </div>
    </div>
    <!-- PRODUCT 4 UNDER HAIR WIGS -->
    <div class="col-lg-4">
        <img class="thumbnail" src="/media/human_hair_wig_conditioner/eternal_beauty_wig_control_conditioner_250ml.png">
        <div class="box-element product">
            <h6><strong>Product</strong></h6>
            <hr>
        </div>
    </div>
    <!-- PRODUCT 5 UNDER HAIR WIGS -->
    <div class="col-lg-4">
        <img class="thumbnail" src="/media/human_hair_wig_conditioner/eternal_beauty_wig_control_conditioner_250ml.png">
        <div class="box-element product">
            <h6><strong>Product</strong></h6>
            <hr>
        </div>
    </div>
    <!-- PRODUCT 6 UNDER HAIR WIGS -->
    <div class="col-lg-4">
        <img class="thumbnail" src="/media/human_hair_wig_conditioner/eternal_beauty_wig_control_conditioner_250ml.png">
        <div class="box-element product">
            <h6><strong>Product</strong></h6>
            <hr>
        </div>
    </div>
</div>  <!-- row class div ends -->
{% endblock %}


